<div id="<%= dom_id info %>">
  <% if action_name != "show" %>
    <%= link_to "Show this info", info, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this info", edit_info_path(info), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
